gdown==3.12.2
torch~=1.8.1+cu102
torchvision~=0.9.1+cu102
scipy~=1.5.4
scikit-fmm==2019.1.30
scikit-image==0.15.0
networkx~=2.5.1
numpy~=1.19.5
imageio~=2.15.0
matplotlib~=3.3.4
opencv-python~=4.5.5.64
gym~=0.21.0
habitat~=0.2.1
attrs~=21.4.0
magnum~=0.0.0
tqdm~=4.64.0
submitit~=1.4.2